.form-container {
    /*position: absolute;
    top: 15vh;
    background: #fff;
    padding: 30px;
    border-radius: 2px;
    box-shadow: 0px 0px 5px 0px #000;*/
}

.error {
    color: #D8000C;
	background-color: #FFBABA;
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.error--hidden {
  display: none;
}