
<p>Welcome, <b>{{ username }}</b> To complete your sign up, we just need to verify your email address: <b>{{ email }}</b>.</p>
<p>Please click the link to activate your account. <a href="{{ confirm_url }}">{{ confirm_url }}</a></p>
<br>