{% extends "layout.html" %}

{% block title %}
Create Account
{% endblock %}

{% block body %}
<section class="row justify-content-center">
     <section class="col-12 col-sm-8 col-md-4">
            <h1>Create an Account</h1>
            <form class="form-container" name="signup_form">
                <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input type="text" name="first_name" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" name="last_name" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="username" id="username" name="username" class="form-control" required>
                    <div id="msg"></div>
                    <h4 id="loading" style="display:none;"><img src="{{ url_for('static', filename='imgs/loading.gif')}}"></h4>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" name="confirm_password" class="form-control" required>
                </div>

                <p class="error error--hidden"></p>

                {% include "flash_message.html" %}

                <button class="btn btn-primary btn-block" type="submit">Sign Up</button>
            </form>

     </section>
</section>
{% endblock %}