{% extends "layout.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block body %}
<section class="row justify-content-center">
     <section class="col-12 col-sm-8 col-md-4">
            <h1>Dashboard</h1>
        <p class="center">You are currently logged in.</p>
         <a href="/user/signout" class="btn btn--secondary">Sign Out</a>
        <p>
            <strong>ID:</strong> {{ session['user']['_id'] }}<br/>
            <strong>Name:</strong> {{ session['user']['name'] }}<br/>
            <strong>Email:</strong> {{ session['user']['email'] }}
        </p>
     </section>
</section>
{% endblock %}