

{% extends "layout.html" %}

{% block title %}
Email Confirmed!.
{% endblock %}
{% block body %}
{% include "nav.html" %}
<div class="card-wrapper">
    <div class="card">
        <h1 class="center">Email confirmation</h1>
        <p class="center">Email address verified. Your account is now available</p>
    </div>

    {% include "login.html" %}
</div>

{% endblock %}