
{% block body %}
<section class="row justify-content-center">

     <section class="col-12 col-sm-8 col-md-4">
        <h1>Login</h1>
        <form class="form-container" name="login_form">

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="inputEmail" class="form-control" required autofocus>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control">
            </div>

            <p class="error error--hidden"></p>

            {% include "flash_message.html" %}

            <button class="btn btn-primary btn-block" type="submit">Sign in</button>

            <p><a href="/password_reset_request">Forgot Password?</a></p>
            <p class="center">Not a member yet? <a href="/create_account">Sign Up</a></p>

        </form>
     </section>
</section>

{% endblock %}