<p>Hi {{ name }}, Your password has been changed, as you asked.<p></p>
<p>If you didn’t ask to change your password, we’re here to help keep your account secure. Visit our support page for more info.</p>
