{% extends "layout.html" %}

{% block title %}
Request Password Reset
{% endblock %}

{% block body %}
<section class="row justify-content-center">
     <section class="col-12 col-sm-8 col-md-4">
        <h1>Request Password Reset</h1>
        <form name="request_password_reset_form">

            <div class="form-group">
                <label for="email">Email account</label>
                <input type="email" name="email" class="form-control">
            </div>

            <p class="error error--hidden"></p>

            {% include "flash_message.html" %}

            <button class="btn btn-primary btn-block" type="submit">Request Password Reset</button>
            <p><a href="/">Remembered Password?</a></p>
        </form>

     </section>
</section>
{% endblock %}