{% extends "layout.html" %}

{% block title %}
Password Reset
{% endblock %}

{% block body %}
<section class="row justify-content-center">
     <section class="col-12 col-sm-8 col-md-4">
        <h1>Password Reset</h1>
        <form name="password_reset_form">
            <input type="hidden" name="token" value="{{ data }}">

            <div class="form-group">
                <label for="new_password">New Password</label>
                <input type="password" name="new_password" id="new_password" class="form-control">
            </div>

            <p>Your password should be at least eight characters long. To make it stronger, use upper and lower case
                letters, numbers and symbols like ! " ? $ % ^ & ).</p>

            <div class="form-group">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" name="confirm_password" id="confirm_password" class="form-control">
            </div>

            <span class="center" id='message'></span>
            <p class="error error--hidden"></p>

            <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
            <p><a href="/">Cancel and return to login.</a></p>
        </form>

     </section>
</section>
{% endblock %}
