

{% extends "layout.html" %}

{% block title %}
Password Reset Link Sent.
{% endblock %}
{% block body %}
{% include "nav.html" %}
<div class="card-wrapper">
    <div class="card">
        <h1 class="center">Password Reset Link Sent</h1>
        <p class="center">Check your email account for password reset link.</p>
    </div>
</div>

{% endblock %}