

{% extends "layout.html" %}

{% block title %}
Unconfirmed account
{% endblock %}
{% block body %}
<section class="row justify-content-center">
     <section class="col-12 col-sm-8 col-md-4">
            <h1>Unconfimed account</h1>

            <p class="error error--hidden"></p>

            {% include "flash_message.html" %}

     </section>
</section>
{% endblock %}